Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Cors
Flask-Migrate
PyMySQL
cryptography
apscheduler
psutil
gunicorn
PyYAML==6.0.1
GitPython
func_timeout
netifaces
pyserial
ultralytics==8.0.113
opencv-python==4.8.0.74
Pillow==10.0.0
python-dotenv==1.0.0
oss2