<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basiclab.iot.rule.mapper.ActionCommandsMapper">
  <resultMap id="BaseResultMap" type="com.basiclab.iot.rule.domain.RuleActionCommands">
    <!--@mbg.generated-->
    <!--@Table rule_action_commands-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rule_id" jdbcType="VARCHAR" property="ruleId" />
    <result column="action_type" jdbcType="VARCHAR" property="actionType" />
    <result column="rule_condition_id" jdbcType="VARCHAR" property="ruleConditionId" />
    <result column="action_content" jdbcType="LONGVARCHAR" property="actionContent" typeHandler="com.basiclab.iot.rule.common.handler.JsonTypeHandler"/>
    <result column="product_identification" jdbcType="VARCHAR" property="productIdentification" />
    <result column="device_identification" jdbcType="VARCHAR" property="deviceIdentification" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, rule_id, action_type, rule_condition_id, action_content, product_identification, device_identification, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from rule_action_commands
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from rule_action_commands
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rule_action_commands (rule_id, action_type, rule_condition_id, action_content, product_identification, device_identification, create_by, create_time, update_by, update_time)
    values (#{ruleId,jdbcType=VARCHAR},#{actionType,jdbcType=VARCHAR}, #{ruleConditionId,jdbcType=VARCHAR},
     #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      #{productIdentification,jdbcType=VARCHAR}, #{deviceIdentification,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rule_action_commands
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="ruleConditionId != null">
        rule_condition_id,
      </if>   
      <if test="actionContent != null">
        action_content,
      </if>
      <if test="productIdentification != null">
        product_identification,
      </if>
      <if test="deviceIdentification != null">
        device_identification,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionId != null">
        #{ruleConditionId,jdbcType=VARCHAR},
      </if>
      <if test="actionContent != null">
        #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      </if>
      <if test="productIdentification != null">
        #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="deviceIdentification != null">
        #{deviceIdentification,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands">
    <!--@mbg.generated-->
    update rule_action_commands
    <set>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionId != null">
        rule_condition_id = #{ruleConditionId,jdbcType=VARCHAR},
      </if>
      <if test="actionContent != null">
        action_content = #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      </if>
      <if test="productIdentification != null">
        product_identification = #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="deviceIdentification != null">
        device_identification = #{deviceIdentification,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands">
    <!--@mbg.generated-->
    update rule_action_commands
    set rule_id = #{ruleId,jdbcType=VARCHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      rule_condition_id = #{ruleConditionId,jdbcType=VARCHAR},
      action_content = #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      product_identification = #{productIdentification,jdbcType=VARCHAR},
      device_identification = #{deviceIdentification,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update rule_action_commands
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="rule_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.ruleId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="rule_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.actionType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="rule_condition_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.ruleConditionId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="action_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler}
        </foreach>
      </trim>
      <trim prefix="product_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.productIdentification,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="device_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.deviceIdentification,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updateBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update rule_action_commands
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="rule_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ruleId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.ruleId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="action_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ruleId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.actionType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="rule_condition_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ruleConditionId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.ruleConditionId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="action_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.actionContent != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productIdentification != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.productIdentification,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="device_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deviceIdentification != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.deviceIdentification,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateBy != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rule_action_commands
    (rule_id, action_type, rule_condition_id, action_content, product_identification, device_identification,update_by,
      create_by,create_time,update_time
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.ruleId,jdbcType=INTEGER},  #{item.actionType,jdbcType=VARCHAR}, #{item.ruleConditionId,jdbcType=VARCHAR},
       #{item.actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
        #{item.productIdentification,jdbcType=VARCHAR}, #{item.deviceIdentification,jdbcType=VARCHAR},#{item.updateBy,jdbcType=VARCHAR},
        #{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rule_action_commands
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      rule_id,
      action_type,
      rule_condition_id,
      action_content,
      product_identification,
      device_identification,
      create_by,
      create_time,
      update_by,
      update_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      #{ruleId,jdbcType=INTEGER},
      #{actionType,jdbcType=VARCHAR},
      #{ruleConditionId,jdbcType=VARCHAR},
      #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      #{productIdentification,jdbcType=VARCHAR},
      #{deviceIdentification,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP},
    </trim>
    ON CONFLICT (id) DO UPDATE SET
    <trim suffixOverrides=",">
      rule_id = EXCLUDED.rule_id,
      action_type = EXCLUDED.action_type,
      rule_condition_id = EXCLUDED.rule_condition_id,
      action_content = EXCLUDED.action_content,
      product_identification = EXCLUDED.product_identification,
      device_identification = EXCLUDED.device_identification,
      create_by = EXCLUDED.create_by,
      create_time = EXCLUDED.create_time,
      update_by = EXCLUDED.update_by,
      update_time = EXCLUDED.update_time,
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into rule_action_commands
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="ruleConditionId != null">
        rule_condition_id,
      </if>
      <if test="actionContent != null">
        action_content,
      </if>
      <if test="productIdentification != null">
        product_identification,
      </if>
      <if test="deviceIdentification != null">
        device_identification,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionId != null">
        #{ruleConditionId,jdbcType=VARCHAR},
      </if>
      <if test="actionContent != null">
        #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler},
      </if>
      <if test="productIdentification != null">
        #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="deviceIdentification != null">
        #{deviceIdentification,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON CONFLICT (id) DO UPDATE SET
    <trim suffixOverrides=",">
      <if test="ruleId != null">
        rule_id = EXCLUDED.rule_id,
      </if>
      <if test="actionType != null">
        action_type = EXCLUDED.action_type,
      </if>
      <if test="ruleConditionId != null">
        rule_condition_id = EXCLUDED.rule_condition_id,
      </if>
      <if test="actionContent != null">
        action_content = EXCLUDED.action_content,
      </if>
      <if test="productIdentification != null">
        product_identification = EXCLUDED.product_identification,
      </if>
      <if test="deviceIdentification != null">
        device_identification = EXCLUDED.device_identification,
      </if>
      <if test="createBy != null">
        create_by = EXCLUDED.create_by,
      </if>
      <if test="createTime != null">
        create_time = EXCLUDED.create_time,
      </if>
      <if test="updateBy != null">
        update_by = EXCLUDED.update_by,
      </if>
      <if test="updateTime != null">
        update_time = EXCLUDED.update_time,
      </if>
    </trim>
  </insert>

  <select id="selectByActionCommandsSelective" parameterType="com.basiclab.iot.rule.domain.RuleActionCommands" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from rule_action_commands
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="ruleId != null">
        and rule_id = #{ruleId,jdbcType=INTEGER}
      </if>
      <if test="actionType != null">
        and action_type = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="ruleConditionId != null">
        and rule_condition_id = #{ruleConditionId,jdbcType=VARCHAR}
      </if>
      <if test="actionContent != null">
        and action_content = #{actionContent,jdbcType=LONGVARCHAR,typeHandler=com.basiclab.iot.rule.common.handler.JsonTypeHandler}
      </if>
      <if test="productIdentification != null">
        and product_identification = #{productIdentification,jdbcType=VARCHAR}
      </if>
      <if test="deviceIdentification != null">
        and device_identification = #{deviceIdentification,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null">
        and create_by = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
        and update_by = #{updateBy,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

  <select id="actionCommandsByRuleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from rule_action_commands
    where rule_id = #{ruleId}
  </select>

  <delete id="deleteBatchByIds" parameterType="String">
    delete
    from rule_action_commands where id in
    <foreach close=")" collection="array" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>